/ChickEnemy$ChickDeathEffect$Smoke.class
/ChickEnemy$ChickDeathEffect.class
/ChickEnemy.class
/ChickenEnemy$ChickDeathEffect$Smoke.class
/ChickenEnemy$ChickDeathEffect.class
/ChickenEnemy.class
/EggShellEnemy.class
